{% extends "admin/template/template.html" %}


{% block title %}manage orders{% endblock %}

{% block main %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">Manage Orders</h5>
                </div>
               </div>
               <br>


               <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Pav bhaji</h5>
                      <img src="https://firebasestorage.googleapis.com/v0/b/homemadefoodzoe.appspot.com/o/Pav%20bhajiThu%20May%2006%202021%2012%3A04%3A33%20GMT%2B0530%20(IST)?alt=media&token=b7ec95fb-baeb-4226-ba03-4bd91882539d"  width="200" height="200" />
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsum has been the industry's standard dummy text  ever since the 1500s, when an unknown printer took a galley of type  and scrambled it to make a type specimen book. It has survived not  only five centuries.</p>
                      <p class="card-text">preprationTime :120</p>
                      <p class="card-text">price : 200</p>
                      <p class="card-text">type: veg</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">pizza</h5>
                      <img src="https://firebasestorage.googleapis.com/v0/b/homemadefoodzoe.appspot.com/o/pizzaFri%20May%2007%202021%2021%3A04%3A11%20GMT%2B0530%20(India%20Standard%20Time)?alt=media&token=1b6efc32-e1c2-462a-9df8-e5a8b89cc1a1"  width="200" height="200" />
                     
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsum has been the industry's standard dummy text  ever since the 1500s, when an unknown printer took a galley of type  and scrambled it to make a type specimen book. It has survived not  only five centuries.</p>
                      <p class="card-text">preprationTime :120</p>
                      <p class="card-text">price : 60</p>
                      <p class="card-text">type: non</p>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">kak-lapis</h5>
                      <img src="https://firebasestorage.googleapis.com/v0/b/homemadefoodzoe.appspot.com/o/kak-lapizFri%20May%2007%202021%2021%3A08%3A12%20GMT%2B0530%20(India%20Standard%20Time)?alt=media&token=2e293dd9-13c6-4fe9-8445-7d35798031f1"  width="200" height="200" />
                     
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsum has been the industry's standard dummy text  ever since the 1500s, when an unknown printer took a galley of type  and scrambled it to make a type specimen book. It has survived not  only five centuries.</p>
                      <p class="card-text">preprationTime :120</p>
                      <p class="card-text">price : 150</p>
                      <p class="card-text">type: veg</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">burger</h5>
                      <img src="https://firebasestorage.googleapis.com/v0/b/homemadefoodzoe.appspot.com/o/burgerFri%20May%2007%202021%2021%3A06%3A12%20GMT%2B0530%20(India%20Standard%20Time)?alt=media&token=9d4648a8-5e25-4034-bf20-3cf05ff2f976"  width="200" height="200" />
                     
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsum has been the industry's standard dummy text  ever since the 1500s, when an unknown printer took a galley of type  and scrambled it to make a type specimen book. It has survived not  only five centuries.</p>
                      <p class="card-text">preprationTime :40</p>
                      <p class="card-text">price : 60</p>
                      <p class="card-text">type: veg</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
            
{% endblock %}