{% extends "admin/template/template.html" %}


{% block title %}manage feedback{% endblock %}

{% block main %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0"> Feedback</h5>
                </div>
               </div>
               <br>
               <table class="table">
                <thead>
                  <tr>
                    <th scope="col">User name</th>
                    <th scope="col">Questions</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   
                    <td>naika</td>
                    <td>trying demo of the questions</td>
                  </tr>
                  <tr>
                    <td>yan</td>
                    <td>setghjnrfewsgvbh3rhjdskkdrmeck</td>
                  </tr>
                  <tr>
                    <td>shubham</td>
                    <td>dummy demo of the feedback</td>
                  </tr>
                </tbody>
              </table>
                          
               
            </div>
        </div>
    </div>
    </div>
{% endblock %}